body {
    font-family: Avenir;
    font-size: 16px;
}

nav {
    background-color: #F3F2F2;
}

button {
    background-color: #87ECA8;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn_two, .btn_three {
    font-size: 1.2em;
    padding: 15px 40px;
}

.btn_three {
    background-color: #CECECE;
    font-size: 1.2em;
    padding: 15px 25px;
}
