body {
    font-family: Avenir;
    font-size: 16px;
}

button {
    background-color: #87ECA8;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
}

.btn_two {
    font-size: 1.2em;
    padding: 15px 40px;
}

.btn_three {
    background-color: #CECECE;
    font-size: 1.2em;
    padding: 15px 25px;
}

.main {
    display: flex;
}

.main_left {
    padding: 100px 0px 0px 100px;
}

nav {
    background-color: #F3F2F2;
}

.temporary {
    font-size: 2em;
    padding: 100px 350px;
}